<div class="container">
  <div class="box">
    <input type="text" placeholder="Digite o nome">
  </div>
  <div class="box">

    <select id="categoria" name="Categoria">
      <option value="Positivo">Positivo</option>
      <option value="Neutro">Neutro</option>
      <option value="Negativo">Negativo</option>
    </select>

    <select id="status" name="Status">
      <option value="Todas">Todas</option>
      <option value="Em aberto">Em aberto</option>
      <option value="Respondido">Respondido</option>
    </select>
  </div>

  <div class="box">
    <select id="tipo" name="Tipo">
      <option value="">Todas</option>
      <option value="">Texto</option>
      <option value="">Áudio</option>
      <option value="">Imagem</option>
    </select>

    <select id="ia" name="IA">
      <option value="">GroqIA</option>
      <option value="">ChatGPT</option>
      <option value="">Gemini</option>
      <!-- <option value="">Imagem</option> -->
    </select>
  </div>

  <div class="box">
    <input type="date" id="data" name="data">
    <input type="date" id="data" name="data">
  </div>

  <div class="box">
    <button class="btn btn-light">Cancelar</button>
    <button class="btn btn-dark">Filtrar</button>
  </div>

</div>
