<div class="container">
  <div class="box">
    <!-- <label for="texto-busca">Nome do Usuário</label> -->
    <input type="text" id="texto-busca" placeholder="Digite o nome">
  </div>
  <div class="box">

    <select id="categoria" name="Categoria">
      <option value="Positivo">Positivo</option>
      <option value="Neutro">Neutro</option>
      <option value="Negativo">Negativo</option>
    </select>

    <select id="status" name="Status">
      <option value="Todas">Todas</option>
      <option value="Em aberto">Em aberto</option>
      <option value="Respondido">Respondido</option>
    </select>
  </div>

  <div class="box">
    <select id="tipo" name="Tipo">
      <option value="Todas">Todas</option>
      <option value="Texto">Texto</option>
      <option value="Áudio">Áudio</option>
      <option value="Imagem">Imagem</option>
    </select>

    <select id="ia" name="IA">
      <option value="GroqIA">GroqIA</option>
      <option value="ChatGPT">ChatGPT</option>
      <option value="Gemini">Gemini</option>
      <!-- <option value="">Imagem</option> -->
    </select>
  </div>

  <div class="box">
    <input type="date" id="data-de" name="data">
    <input type="date" id="data-ate" name="data">
  </div>

  <div class="box">
    <button class="btn btn-light">Cancelar</button>
    <button class="btn btn-dark" (click)="captarDadosBusca()">Filtrar</button>
  </div>

</div>
