<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-dialog-content class="mat-typography box-contato">

  <div class="container">
    <mat-icon class="icone-fechar" [mat-dialog-close]="true">close</mat-icon>
  </div>

  <h3>eAI Sistemas Ltda.</h3>
  <br>
  <p>Rua 7 de Setembro, 1600</p>
  <p>Ed. Tarumã - 14º anda</p>
  <p>Bairro: Centro</p>
  <p>Cidade: Blumenau</p>
  <p>Estado: SC</p>
  <p>CEP: 89010-204</p>
  <br>
  <p>Telefone/Whatsapp: +55 00 0.0000-0000</p>
  <p>Atendimento: 08:00 até 17:00</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-dark btn-cor" [mat-dialog-close]="true">Fechar</button>
</mat-dialog-actions>
