<nav class="navbar-config">
    <div class="box logo-voltar">
        <h4>eAI?</h4>
        <button class="btn btn-dark" (click)="voltarGerenciamento()">Voltar</button>
    </div>
    <div class="box btn-apps">
        <!-- <a href="#">Power BI</a>
      <a href="#">Totem</a> -->
        <a class="btn-cursor" (click)="abrirDialogContato()">Suporte</a>
    </div>
    <div class="box btn-admin">
        <button class="btn btn-light" (click)="voltarGerenciamento()">Cancelar</button>
        <button class="btn btn-dark">Sair</button>
    </div>
</nav>