<div class="responder" *ngIf="this.responderSelecionado">
  <app-responder></app-responder>
</div>

<div class="container">
  <div class="usuarios">
    <!-- <button>minimizar</button> -->
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>ID Telegram</th>
            <th>Ação</th>
        </tr>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.sobrenome}}</td>
            <td>{{usuario.userID_Telegram}}</td>
            <td class="td-center-edit" (click)="verMensagem(usuario.mensagens)">
              <button>Ver Mensagens</button>
          </td>
        </tr>
    </table>
  </div>
  <div class="mensagens">
    <table>
      <tr>
          <th>ID</th>
          <th>LLM</th>
          <th>Horário</th>
          <th>Tipo</th>
          <th>Análise IA</th>
          <th>Categoria</th>
          <th>Resumo</th>
          <th>Info.</th>
          <th>Ação</th>
      </tr>
      <tr *ngFor="let mensagem of mensagens">
          <td>{{mensagem.id}}</td>
          <td>{{mensagem.llm}}</td>
          <td>{{mensagem.timestamp}}</td>
          <td>{{mensagem.tipo_mensagem}}</td>
          <td>{{mensagem.analise_ia}}</td>
          <td>{{mensagem.categoria}}</td>
          <td>{{mensagem.feedback}}</td>
          <td class="td-center-edit">
            <button (click)="verUmaMensagem(mensagem)">Ver</button>
          </td>
          <td>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <button (click)="responderMensagem(mensagem)">Responder</button>
          </td>
      </tr>
  </table>
  </div>
</div>
