* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th, td {
  font-size: 14px;
  text-align: left;
  padding: 5px 3px 20px;
  white-space: nowrap;
}

th {
  background-color: #E0E0E0;
  color: black;
  padding: 10px; /* Adiciona espaçamento interno */
}

/* Mantém a tabela ajustável e adiciona espaçamento entre colunas */
table {
  width: auto;
  border-collapse: collapse; /* Mantém a cor do <th> */
}

td + td, th + th {
  padding-left: 10px; /* Adiciona espaçamento apenas entre as colunas */
}



.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  }

.usuarios, .mensagens {
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #F4F4F4;
}

.head-tabela {
  padding: 10px 5px 8px;
  font-weight: 500;
}

.head-tabela-msgs {
  display: flex;
  justify-content: space-between;
}

.container-icone {
  padding: 0;
}

.icone-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; /* Ocupa toda a altura da célula */
}

.checkbox-selecionar {
  padding: 0;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

mat-icon:hover {
  cursor: pointer;
}