* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 2%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

button {
  background-color: #2C2C2C;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

button:hover {
  background-color: #333;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  margin-left: 16%;
  margin-right: 14%;
  border-top: 1px solid #ccc;
}

.footer-logo-redes {
  margin-right: 10%;
}

.footer-content h2 {
  text-align: left;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: black;
}

.social-icons i:hover {
  color: #555;
}

.informacoes {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

.info p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 15px;
  color: black;
  font-size: 16px;
  margin-top: 15px;
  font-weight: bold;
}

.contato p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 15px;
  color: black;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}
