<div class="navbar-border">
    <app-nabvar-config></app-nabvar-config>
</div>

<div class="inputs-admin">
    <div class="box">
        <label for="">IA</label>
        <select name="model-ia" id="model-ia">
            @for (llm of llms; track $index) {
                <option value="{{llm.ia}}">{{llm.ia}}</option>
            }
        </select>
    </div>
    <div class="box">
        <label for="">Chave API</label>
        <input type="text" name="chave-api" id="chave-api" disabled placeholder="Ainda não implementado">
    </div>
    <div class="box">
        <label for="">Link Power BI</label>
        <input type="text" name="link-powerbi" id="link-powerbi" disabled placeholder="Ainda não implementado">
    </div>
    <div class="box">
        <button class="btn btn-dark" (click)="obterDadosInput()">Salvar</button>
    </div>    
</div>

<div>
    <app-tabela-usuarios></app-tabela-usuarios>
</div>