<div class="navbar-border">
    <app-nabvar-config></app-nabvar-config>
</div>

<div class="inputs-admin">
    <div class="box">
        <label for="">IA</label>
        <select name="model-ia" id="model-ia">
            <option value="GroqIA">GroqIA</option>
            <option value="Gemini">Gemini</option>
            <option value="ChatGPT">ChatGPT</option>
          </select>
    </div>
    <div class="box">
        <label for="">Chave API</label>
        <input type="text" name="" id="">
    </div>
    <div class="box">
        <label for="">Link Power BI</label>
        <input type="text" name="" id="">
    </div>
</div>