.responder {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

textarea {
  width: 100%;
  height: 120px;
}

.box {
  margin-right: 15px;
  width: 30%;
}

.box-buttom {
  display: flex;
  justify-content: right;
  margin-right: 2%;
}