<div class="responder">
  <div class="box lista-mensagens">
    @for (item of this.mensagensSelecionadas; track $index) {
      <li>{{item.texto_msg}}</li>
    }
  </div>
  <div class="box prompt">
    <h6>Entre com informações adicionais para a IA</h6>
    <textarea name="complemento" id="complemento" placeholder="Digite aqui seu contexto adicional" [(ngModel)]="promptAdicionalUsuario"></textarea>
    <div class="box-buttom">
      <button class="btn btn-light" (click)="fecharResposta()">Cancelar</button>
      <button class="btn btn-dark" (click)="gerarResposta()">Gerar</button>
    </div>
  </div>
  <div class="box">
    @if (divResponder === true) {
      <h6>Editar a mensagem gerada pela IA antes de enviar ao usuário</h6>
      <textarea name="complemento" id="complemento" placeholder="Digite aqui seu contexto adicional" [(ngModel)]="respostaIA.resposta"></textarea>
      <div class="box-buttom">
        <button class="btn btn-light"(click)="fecharResposta()">Cancelar</button>
        <button class="btn btn-dark" (click)="enviarResposta()">Enviar</button>
      </div>
    }
  </div>
</div>
